In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
df = pd.read_csv('AccidentesAviones.csv')
df1 = pd.read_csv('Accidentes_Aviones_mod.csv')

In [27]:
df.shape

(5008, 18)

In [28]:
#remplazo todos los ? por NaN
df = df.replace('?', np.nan)

In [29]:
df.isnull().sum()

Unnamed: 0                   0
fecha                        0
HORA declarada            1504
Ruta                         5
OperadOR                    10
flight_no                 3682
route                      763
ac_type                     13
registration               272
cn_ln                      667
all_aboard                  17
PASAJEROS A BORDO          221
crew_aboard                219
cantidad de fallecidos       8
passenger_fatalities       235
crew_fatalities            235
ground                      44
summary                     59
dtype: int64

In [30]:
#eliminamos columnas que no aportan informacion
df = df.drop(['flight_no','route','HORA declarada','cn_ln'], axis=1)

In [31]:
#reemplazar los nulos por 27 de pasajeros a bordo
df['PASAJEROS A BORDO'] = df['PASAJEROS A BORDO'].fillna(27)

In [32]:
df.head(1)

,Unnamed: 0,fecha,Ruta,OperadOR,ac_type,registration,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908","Fort Myer, Virginia",Military - U.S. Army,Wright Flyer III,NaN,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."

In [66]:
#Renombramos las columnas para que sean mas entendibles
df = df.rename(columns={'Ruta': 'ruta',
                        'OperadOR': 'operador',
                        'ac_type': 'tipo_aeronave',
                        'registration': 'registro',
                        'all_aboard': 'todos_abordo',
                        'PASAJEROS A BORDO': 'pasajeros_abordo',
                        'crew_fatalities': 'tripulacion_fallecidos',
                        'cantidad de fallecidos':'cantidad_fallecidos',
                        'crew_aboard': 'tripulacion_abordo',
                        'passenger_fatalities': 'pasajeros_fallecidos',
                        'ground': 'fallecidos_en_tierra',
                        'summary': 'resumen'})

In [38]:
#filtramos y eliminamos los valores nulos de la columna todos_abordo
df = df[df['todos_abordo'].notna()]

In [63]:
df.isnull().sum()

Unnamed: 0                0
fecha                     0
ruta                      5
operador                 10
tipo_avion               11
registro                262
todos_abordo              0
pasajeros_abordo          0
tripulacion_abordo      202
cantidad_fallecidos       0
pasajeros_fallecidos    221
crew_fatalities         220
fallecidos_en_tierra     32
resumen                  51
sobrevivientes            0
decada                    0
dtype: int64

In [41]:
#convertimos la columna todos_abordo y cantidad_fallecidos a in
df['todos_abordo'] = df['todos_abordo'].astype(int)
df['cantidad_fallecidos'] = df['cantidad_fallecidos'].astype(int)
#creamos la columna sobrevivientes y la llenamos con la resta de todos_abordo menos los cantidad_fallecidos
df['sobrevivientes'] = df['todos_abordo'] - df['cantidad_fallecidos']

In [58]:
#convertimos la columna fecha a datetime
df['fecha'] = pd.to_datetime(df['fecha'])
#creamos la columna decada y la llenamos con el año de la columna fecha
df['decada'] = df['fecha'].dt.year
#editamos la columna decadad cambiando el año por la decada
df['decada'] = df['decada'].apply(lambda x: str(x)[:3] + "0")

In [65]:
df.head(4)

,Unnamed: 0,fecha,ruta,operador,tipo_avion,registro,todos_abordo,pasajeros_abordo,tripulacion_abordo,cantidad_fallecidos,pasajeros_fallecidos,crew_fatalities,fallecidos_en_tierra,resumen,sobrevivientes,decada
0,0,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,Wright Flyer III,NaN,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly...",1,1900
1,1,1909-09-07,"Juvisy-sur-Orge, France",NaN,Wright Byplane,SC1,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...,0,1900
2,2,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,Dirigible,NaN,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...,0,1910
3,3,1913-08-06,"Victoria, British Columbia, Canada",Private,Curtiss seaplane,NaN,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...,0,1910

In [ ]:
guardamos el dataset en un csv
#df.to_csv('Accidentes_Aviones_mod.csv', index=False)